<div *ngIf="month" class="mt-5">
  <section class="section">
    <div *ngFor="let day of month.days" class="block">
      <app-day [day]="day"></app-day>
    </div>
  </section>
</div>

<div *ngIf="this.currentState.modalWindow == modalWindow.Transaction" class="modal is-active">
  <div (click)="exitModal()" class="modal-background"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-transaction-form></app-transaction-form>
  </div>
  <button (click)="exitModal()" aria-label="close" class="modal-close is-large"></button>
</div>
<div *ngIf="this.currentState.modalWindow === modalWindow.RepeatSettings" class="modal is-active">
  <div (click)="exitModal()" class="modal-background"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-repeat-form></app-repeat-form>
  </div>
  <button (click)="exitModal()" aria-label="close" class="modal-close is-large"></button>
</div>
<div *ngIf="this.currentState.modalWindow === modalWindow.MultiTransaction" class="modal is-active">
  <div (click)="exitModal()" class="modal-background"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-multi-transaction-form></app-multi-transaction-form>
  </div>
  <button (click)="exitModal()" aria-label="close" class="modal-close is-large"></button>
</div>
<div *ngIf="this.currentState.modalWindow === modalWindow.Admin" class="modal is-active">
  <div (click)="exitModal()" class="modal-background"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-admin-panel></app-admin-panel>
  </div>
  <button (click)="exitModal()" aria-label="close" class="modal-close is-large"></button>
</div>
