#notificationBar {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 300px;
  z-index: 99;
  opacity: .95;
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 8s;
}
@keyframes slideIn {
  0% {
    top: -112px;
  }
  3% {
    top: 2em;
  }
  5% {
    top: .5em;
  }
  6% {
    top: 1em;
  }
  90% {
    opacity: .95;
  }
  100% {
    opacity: 0;
  }
}
