<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-item">Tenda</div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a (click)="goToPreviousMonth()" class="navbar-item">Previous Month</a>
      <a (click)="goToToday()" class="navbar-item">Today</a>
      <a (click)="goToNextMonth()" class="navbar-item">Next Month</a>
    </div>
    <div class="navbar-end navbar-item"><h1 class="title is-5">Total: {{total | currency}}</h1></div>
  </div>
</nav>
<div *ngIf="month">
  <section class="section">
    <div class="block" *ngFor="let day of month.days">
      <app-day  [day]="day"></app-day>
    </div>
  </section>
</div>


<div class="modal is-active" *ngIf="malleableTransaction && !editingRepeatContract">
  <div class="modal-background" (click)="exitEditingTransaction()"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-transaction-form [transaction]="malleableTransaction"></app-transaction-form>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="exitEditingTransaction()"></button>
</div>
<div class="modal is-active" *ngIf="editingRepeatContract">
  <div class="modal-background" (click)="exitEditingRepeat()"></div>
  <div class="modal-content" style="min-height: 700px;">
    <app-repeat-form [repeatContract]="editingRepeatContract"></app-repeat-form>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="exitEditingRepeat()"></button>
</div>
