/* You can add global styles to this file, and also import other style files */
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";

.divButton:hover {
  color: #485fc7;
  background-color: #fafafa;
}

.deleteButton:hover {
  color: #c74854 !important;
  background-color: #fafafa;
}
