<div class="columns" style="padding-top: 30vh">
  <div class="column is-one-third"></div>
  <div class="column is-one-third">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Welcome
        </p>
      </header>
      <div class="card-content">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="field">
            <label class="label">
              User Name
            </label>
            <div class="control">
              <input type="text" class="input" formControlName="username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input type="password" class="input" formControlName="password">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="column is-one-third"></div>
</div>

