<div *ngIf="transaction" class="card">
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <div *ngIf="isNewTransaction" class="card-header">
      <div class="card-header-title">
        Add New {{labelMapping[transaction.type]}}
      </div>
    </div>
    <div class="card-content">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" formControlName="transactionName" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label">Date</label>
        <div class="control">
          <app-date-selector [(startDate)]="transaction.date"></app-date-selector>
        </div>
      </div>
      <div class="field">
        <label class="label">Amount</label>
        <div class="control">
          <input class="input" formControlName="amount" type="text">
        </div>
      </div>
      <div *ngIf="showModifyRepeatButton" class="field">
        <button (click)="editRepeatSettings()" class="button">Edit Repeat Settings</button>
      </div>
      <div *ngIf="showRepeat">
        <div class="columns">
          <div class="column">
            <div class="field"><label class="label">Repeat Frequency</label>
              <div class="select">
                <select formControlName="repeatFrequency">
                  <option *ngFor="let repeatType of repeatTypes"
                          [value]="repeatType">{{repeatTypeLabelMapping[repeatType]}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Interval</label>
              <div class="control">
                <input class="input" formControlName="interval" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-tag-input [(selectedTags)]="transaction.tags"></app-tag-input>
    </div>
    <div class="card-footer">
      <div (click)="delete()" class="card-footer-item is-clickable deleteButton">
        Delete
      </div>
      <div (click)="cancel()" class="card-footer-item is-clickable divButton">
        Cancel
      </div>
      <div (click)="save()" class="card-footer-item is-clickable divButton">
        Save
      </div>
    </div>
  </form>
</div>
