<form [formGroup]="form">
  <div>
    <app-repeat-type-input [form]="form"></app-repeat-type-input>
  </div>
  <div *ngIf="showRepeatSettings" class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Interval</label>
        <div class="control">
          <input [class.is-danger]="doesFieldHaveError('interval')" class="input" formControlName="interval"
                 type="text">
        </div>
        <p *ngIf="doesFieldHaveError('interval', 'pattern')" class="help is-danger">Interval must be a number
          when not empty</p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">End Date</label>
        <div class="control">
          <app-date-selector formControlName="endDate" [(startDate)]="endDate"></app-date-selector>
        </div>
      </div>
    </div>
  </div>
</form>
