<div class="container" *ngIf="day">
  <div class="card" [attr.data-cy]="day.date | date" [id]="localDate">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="has-text-left">
            {{day.date | date}}
          </div>
        </div>
        <div id="incomes" class="column">
          <app-transaction *ngFor="let transaction of day.incomes" [transaction]="transaction"></app-transaction>
        </div>
        <div id="bills" class="column">
          <div *ngFor="let transaction of day.bills">
            <app-transaction [transaction]="transaction"></app-transaction>
          </div>
        </div>
        <div id="oneOffs" class="column">
          <app-transaction *ngFor="let transaction of day.oneOffs" [transaction]="transaction"></app-transaction>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div id="dayTotal" class="card-footer-item">{{day.runningTotal | currency}}</div>
      <div (click)="createTransaction(3)" class="card-footer-item divButton is-clickable" data-cy="addIncome">Add Income</div>
      <div (click)="createTransaction(2)" class="card-footer-item divButton is-clickable" data-cy="addBill">Add Bill</div>
      <div (click)="createTransaction(1)" class="card-footer-item divButton is-clickable" data-cy="addTransaction">Add Transaction</div>
    </div>
  </div>
</div>

