<div class="card">
  <div class="card-header">
    <div class="card-header-title">Add New Transactions</div>
  </div>
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <div class="card-content">
      <div formArrayName="list">
      <div class="box" *ngFor="let control of formArray.controls; let i = index">
        <div [formGroupName]="i">
          <div *ngIf="i > 0" (click)="removeTransaction(1)" class="icon is-pulled-right is-clickable pb-1">
            <i-feather name="X"></i-feather>
          </div>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input [class.is-danger]="doesFieldHaveError(i, 'transactionName')" appFocus type="text" class="input" formControlName="transactionName">
            </div>
            <p *ngIf="doesFieldHaveError(i, 'transactionName', 'required')" class="help is-danger">Name field is required</p>
          </div>
          <div class="field">
            <label class="label">Amount</label>
            <div class="control">
              <input [class.is-danger]="doesFieldHaveError(i, 'amount')" type="text" class="input" formControlName="amount">
            </div>
            <p *ngIf="doesFieldHaveError(i, 'amount', 'required')" class="help is-danger">Amount field is required</p>
            <p *ngIf="doesFieldHaveError(i, 'amount', 'pattern')" class="help is-danger">Amount must be a number</p>
          </div>
          <app-tag-input [(selectedTags)]="transactionTags[i]"></app-tag-input>
        </div>
      </div>
      </div>
    <div>
      <button (click)="addAnother()" class="button mt-1">Add Another</button>
    </div>
  </div>
  <div class="card-footer">
    <div (click)="cancel()" class="card-footer-item is-clickable divButton">Cancel</div>
    <div (click)="save()" [class.disabledDivButton]="this.form.invalid" class="card-footer-item divButton">Save</div>
  </div>
  </form>
</div>
