<div *ngIf="transaction" class="card mb-1" [ngClass]="classType" xmlns:divj="http://www.w3.org/1999/html">
  <div class="card-content">
    <div [id]="transaction.name" class="columns">
      <div class="column is-full">
        <a (click)="editTransaction()">{{transaction.name}} </a><span *ngIf="transaction.isRepeating" class="icon is-pulled-right"><i-feather name="repeat"></i-feather></span>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <span (click)="toggleResolved()" class="icon is-clickable">
          <i-feather *ngIf="!transaction.isResolved" name="square"></i-feather>
          <i-feather *ngIf="transaction.isResolved" name="check-square"></i-feather>
        </span>
      </div>
      <div class="column" style="overflow: hidden;">
        <div class="is-pulled-right">{{transaction.amount | currency}}</div>
      </div>
    </div>
  </div>
</div>


