<nav class="navbar is-fixed-top has-shadow" *ngIf="monthlyTransactions.length > 1">
    <div class="navbar-brand">
        <div class="navbar-item">Tenda</div>
        <div class="navbar-item">
            <app-transaction-search [transactions]="monthlyTransactions" [dates]="month?.days" (id)="scroll($event)"></app-transaction-search>
        </div>
        <a (click)="toggleMenu()" [class.is-active]="isMenuActive" aria-expanded="false" aria-label="menu" class="navbar-burger"
           role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div [class.is-active]="isMenuActive" class="navbar-menu">
        <div class="navbar-start">
            <a (click)="goToPreviousMonth()" class="navbar-item">Previous Month</a>
            <a (click)="goToToday()" class="navbar-item">Today</a>
            <a (click)="goToNextMonth()" class="navbar-item">Next Month</a>
            <a *ngIf="isAdmin" (click)="openAdminPanel()" class="navbar-item">Settings</a>
            <a (click)="goToReports()" class="navbar-item">Reports</a>
            <a (click)="signOut()" class="navbar-item">Sign Out</a>
        </div>
        <div class="navbar-end navbar-item"><h1 class="title is-5">Total: {{total | currency}}</h1></div>
    </div>
</nav>
