<div *ngIf="repeatContract" class="card">
  <form [formGroup]="form">
    <div class="card-content">
      <div class="field"><label class="label">Name</label>
        <div class="control">
          <input class="input" formControlName="name" name="name" type="text">
        </div>
      </div>
      <div class="field">
        <label class="label">Start Date</label>
        <div class="control">
          <app-date-selector [(startDate)]="repeatContract.startDate"></app-date-selector>
        </div>
      </div>
      <div class="field">
        <label class="label">Amount</label>
        <div class="control">
          <input inputmode="decimal" class="input" formControlName="amount" name="amount">
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-repeat-type-input [form]="form"></app-repeat-type-input>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Interval</label>
            <div class="control">
              <input class="input" formControlName="interval" type="text">
            </div>
          </div>
        </div>

      </div>

      <app-tag-input [(selectedTags)]="repeatContract.tags"></app-tag-input>
    </div>
    <div class="card-footer">
      <div (click)="deleteContract()" class="card-footer-item is-clickable deleteButton">Delete All</div>
      <div (click)="cancel()" class="card-footer-item is-clickable divButton">
        Cancel
      </div>
      <div (click)="updateContract()" class="card-footer-item is-clickable divButton">Save</div>
    </div>
  </form>
</div>
