<div class="card" *ngIf="repeatContract">
  <form [formGroup]="form">
    <div class="card-content">
      <div class="field"><label  class="label">Name</label>
        <div class="control">
          <input type="text" name="name" class="input" formControlName="name">
        </div>
      </div>
      <div class="field">
        <label class="label">Start Date</label>
        <div class="control">
          <app-date-selector [(startDate)]="repeatContract.startDate"></app-date-selector>
        </div>
      </div>
        <app-repeat-type-input [form]="form"></app-repeat-type-input>
      <div class="field">
        <label class="label">Interval</label>
        <div class="control">
          <input type="text" class="input" formControlName="interval">
        </div>
      </div>
      <app-tag-input [(selectedTags)]="repeatContract.tags"></app-tag-input>
    </div>
    <div class="card-footer">
      <div class="card-footer-item is-clickable deleteButton" (click)="deleteContract()">Delete All</div>
      <div class="card-footer-item is-clickable divButton" (click)="cancel()">
        Cancel
      </div>
      <div class="card-footer-item is-clickable divButton" (click)="updateContract()">Save</div>
    </div>
  </form>
</div>
