<div id="searchBar">
  <div class="control has-icons-right">
    <div class="field">
      <input
        (input)="filterList()"
        (keydown.arrowDown)="moveDown()"
        (keydown.arrowUp)="moveUp()"
        (keydown.enter)="emitId()"
        [(ngModel)]="typedInput"
        class="input is-rounded has-icons-right"
        name="quickSearch"
        type="text">
      <span class="icon is-right is-small">
        <i-feather name="search"></i-feather>
      </span>
    </div>
  </div>
  <div *ngIf="showDropdown" class="dropdown is-active" id="dropdown-menu" role="menu">
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a (click)="selectTransaction(item)" *ngFor="let item of selectionItems; let i = index;"
           [class.is-active]="i === activeItemIndex" class="dropdown-item">
          {{item}}
        </a>
      </div>
    </div>
  </div>
</div>

