/* You can add global styles to this file, and also import other style files */
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";

.divButton:hover {
  color: #485fc7;
  background-color: #fafafa;
}

.divButton {
  cursor: pointer;
}

.deleteButton:hover {
  color: #c74854 !important;
  background-color: #fafafa;
}

.disabledDivButton {
  opacity: .5;
  cursor: not-allowed !important;
}

.disabledDivButton:hover  {
  background-color: white !important;
  cursor: default;
  color: darkgrey;
}
